<html>
<head>
    <title>Fabulas</title>
</head>
<body>
    <h1 align="center"><strong>La lechera y su cántaro</strong></h1>
    <h2 align="center">Fábula de Esopo</h2>
    <img src="../assets/images/lalechera.png">
    <p>Había una vez una joven lechera que caminaba con un cántaro de leche para vender el mercado del pueblo. Mientras caminada, pensaba en todas las cosas que haría con el dinero de la venta. -- Cuano me paguen -- se dijo --, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarce a hablar conmigo. Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando toda la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.</p>

    <h3>Otras fábulas de Esopo</h3>
    <ul>
        <li>Fábula 1</li>
        <li>Fábula 2</li>
        <li>Fábula 3</li>
    </ul>
    <br>
    <a href="fabula.html">Volver al inicio</a>
</body>
</html>