node_modules
DesarrolloWeb/Trabajos en Clase/CamiloTejada/tercerCorte/.DS_Store
DesarrolloWeb/Trabajos en Clase/CamiloTejada/segundoCorte/.DS_Store
DesarrolloWeb/Trabajos en Clase/CamiloTejada/.DS_Store
DesarrolloWeb/Trabajos en Clase/.DS_Store
DesarrolloWeb/Proyecto/.DS_Store
DesarrolloWeb/.DS_Store
.DS_Store
DesarrolloWeb/Proyecto/URDeporteCultura/.DS_Store
DesarrolloWeb/Proyecto/URDeporteCultura/.vscode/settings.json
DesarrolloWeb/Proyecto/URDeporteCultura/assets/uploads
DesarrolloWeb/.DS_Store
