* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 1440px;
}

.header {
    background-color: #D90921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    height: 125px;
}

.menu {
    text-align: left;
    margin-right: 50px;
}
.menu span {
    display: block; 
    width: 33px;
    height: 4px;
    margin-bottom: 5px; 
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1; 
  }

.logo {
    flex: 1;
    text-align: left;
}

.logo img {
    height: 95px;
}

.user {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    position: absolute;
    left: 1147px;
}

.user span {
    margin-right: 10px;
    font-size: 25px;
    padding-right: 20px;
}

.user-circle {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;  
}