<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
</head>
<body>
    <h1>Recetas</h1>
    <br>
    <br>
    <table align="center" border="1" cellpadding="10" cellspacing="0">
        <tr bgcolor="ff875a">
            <td align="center"><strong>Título</strong></td>
            <td align="center"><strong>Imagen</strong></td>
        </tr>
        <tr>
            <td align="center"><a href="rollocanela.html">Rollo de canela</a></td>  
            <td align="center"><img src="../assets/img/rollocanela.jpg" alt="Rollo de canela" width="500"></td>
        </tr>
        <tr>
            <td align="center"><a href="croissant.html">Croissant de chocolate</a></td>
            <td align="center"><img src="../assets/img/croissant.jpeg" alt="Croissant de chocolate" width="500"></td>
        </tr>
        <tr>
            <td align="center"><a href="postrelimon.html">Postre de Limón</a></td>
            <td align="center"><img src="../assets/img/postrelimon.jpeg" alt="Postre de limon" width="500"></td>
        </tr>
    </table>
    <br><br>
    Contáctanos dando click <a href="contacto.html">aquí</a>
</body>
</html>