<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Receta para Postre de Limón</title>
    <meta name="description" content="Receta para preparar un delicioso postre de limón">
</head>
<body>
    <h1 align="center">Receta para Postre de Limón</h1>
    <img src="../assets/img/postrelimon.jpeg" alt="postre de limón" width="500" align="center">
    
    <h3>Ingredientes</h3>
    <p><em>Para la base:</em></p>
    <ul type="circle">
        <li>200 g de galletas digestive (trituradas)</li>
        <li>100 g de mantequilla (derretida)</li>
    </ul>
    <p><em>Para el relleno:</em></p>
    <ul type="circle">
        <li>400 g de leche condensada</li>
        <li>200 ml de crema para batir</li>
        <li>100 ml de jugo de limón (aproximadamente 3-4 limones)</li>
        <li>Ralladura de 1 limón</li>
        <li>2 yemas de huevo</li>
    </ul>
    <p><em>Para decorar (opcional):</em></p>
    <ul type="circle">
        <li>Rodajas de limón</li>
        <li>Hojas de menta</li>
    </ul>

    <h3>Preparación</h3>
    <ol>
        <li>Precalienta el horno a 180°C (350°F).</li>
        <li>Para preparar la base, mezcla las galletas trituradas con la mantequilla derretida hasta obtener una mezcla homogénea.</li>
        <li>Presiona la mezcla de galletas en el fondo de un molde para tarta, formando una capa uniforme. Hornea durante 10 minutos y deja enfriar.</li>
        <li>En un bol grande, mezcla la leche condensada, la crema para batir, el jugo de limón, la ralladura de limón y las yemas de huevo hasta obtener una mezcla suave y bien integrada.</li>
        <li>Vierte el relleno sobre la base de galletas enfriada.</li>
        <li>Hornea durante 15-20 minutos o hasta que el relleno esté firme y ligeramente cuajado en el centro.</li>
        <li>Deja enfriar a temperatura ambiente y luego refrigera durante al menos 2 horas antes de servir.</li>
        <li>Decora con rodajas de limón y hojas de menta antes de servir si lo deseas.</li>
    </ol>

    <p align="center">Presiona <a href="https://www.youtube.com/watch?v=ooZhTTSLg_Y" target="_blank">aquí</a> para acceder al video de la receta</p>
    <a href="index.html">Volver al inicio</a>
</body>
</html>
