<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/botones.css">
    <link rel="stylesheet" href="../../assets/css/consultarGrupoEsp.css">
    <title>UR Deporte y Cultura | Consultar Grupo</title>
</head>
<body>
    <header>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="../../assets/img/logoHorizontalBlanco.png">
        </div>

        <div class="user">
            <span>Usuario 123</span>
            <div class="user-circle"></div>
        </div>
    </header>

    <div class="contenidoPrincipal">
        <div class="elementosCentrados">
            <h1 class="tituloSeccion">Ultimate Frisbee</h1>
            <form action="">
                <div class="formContent">
                    <div class="formImagen"></div>
                    <div class="formCampos">
                        <div class="formText" id="categoria">
                            <label for="categoria">Categoria</label><br>
                            <input type="text" id="categoria" value="Femenino" readonly>
                        </div>
                        <div class="formText" id="diaPracticas">
                            <label for="diaPracticas">Dias de Practicas</label><br>
                            <input type="text" id="diaPracticas" value="Lunes-Miercoles-Viernes/4:00pm" readonly>
                        </div>
                        <div class="formText" id="lugarPracticas">
                            <label for="lugarPracticas">Lugar de las Practicas</label><br>
                            <input type="text" id="lugarPracticas" value="Universidad del Rosario- Sede de Emprend..." readonly>
                        </div>
                        <div class="formText">
                            <label for="integrantes">Integrantes</label><br>
                            <input type="text" id="integrantes"  value="Sofia Marin, Jorge Suarez, Mariana Bolivar..." readonly>
                        </div>
                    </div>
                </div>
                <div class="formButtonsContainer">
                    <div class="button" id="botonAzul">
                        <a href="">
                            <p>Editar</p>
                        </a>
                    </div>
                    <div class="button" id="botonRojo">
                        <a href="">
                            <p>Inhabilitar</p>
                        </a>
                    </div>
                </div>
            </form>
     
        </div>
    </div>
</body>
</html>