<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de navegación</title>
    <link rel="stylesheet" href="../../assets/css/menuNavegacion.css">
</head>
<body>
    <nav class="sidebar">
    <div class="logo-menu">
        <div class="menu" id="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="../../assets/img/logoHorizontalBlanco.png" alt="Logo Universidad del Rosario">
        </div>
    </div>    
        <!-- <ul class="menu-items">
            <li><a href="#">Usuarios</a> <span>&gt;</span></li>
            <li><a href="#">Grupos institucionales</a> <span>&gt;</span></li>
            <li><a href="#">Actividades</a> <span>&gt;</span></li>
        </ul> -->
        <ul class="menu-items">
            <li><a href="#">Usuarios</a> <div class="play-button"></div></li>
            <div class="prueba"><li><a href="#">Crear Usuarios</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Ver Usuarios</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Editar Usuarios</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Inhabilitar Usuarios</a> <div class="prueba"></div></li></div>
            <li><a href="#">Grupos Institucionales</a> <div class="play-button"></div></li>
            <div class="prueba"><li><a href="#">Crear Grupos</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Ver Grupos</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Editar Grupos</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Inhabilitar Grupos</a> <div class="prueba"></div></li></div>
            <li><a href="#">Actividades</a> <div class="play-button"></div></li>
            <div class="prueba"><li><a href="#">Crear Actividades</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Ver Actividades</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Editar Actividades</a> <div class="prueba"></div></li></div>
            <div class="prueba"><li><a href="#">Inhabilitar Actividades</a> <div class="prueba"></div></li></div>
        </ul>        
    </nav>

</body>
</html>
