<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/botones.css">
    <link rel="stylesheet" href="../../assets/css/popUpIntegrantesCo.css">
    <title>UR Deporte y Cultura | PopUp Integrantes Consulta</title>
</head>
<body>
     <div class="contenidoPrincipal">
        <div class="elementosCentrados">
            <h1 class="tituloSeccion">Integrantes</h1>
            <form action="">
                <class="formContent">
                    <div class="formText" id="integrantesPopUp">
                        <p>Daniel Prieto (Coach)</p>
                        <p>Sofia Marin</p>
                        <p>Jorge Suarez</p>
                        <p>Mariana Bolivar</p>
                        <p>Miguel Agudelo</p>
                        <p>Darian Romero</p>
                        <p>Mateo Ortiz</p>    
                        <p>Juan Felipe Ginez</p>
                        <p>Juan Jose Vargas</p>
                        <p>Tania Ramirez</p>
                        <p>Gabriela Gomez</p>
                        <p>Santiago Hurtado</p>
                        <p>Santiago Lozano</p>
                        <p>Daniela Ruiz</p>
                    </div>    
                    <div class="formButtonsContainer">
                        <div class="button" id="botonAzul">
                            <a href="">
                                <p>Volver</p>
                            </a>
                        </div> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>