html {
    font-size: 60%;
  }

:root{
    --UR---Rojo: #d90921;
    --UR---Azul: #3100A0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- INICIO CÓDIGO HEADER CAMILO ---------- */
body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* width: 1440px;
    height: 1465px; */
}

header {
    background-color: #D90921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    /* height: 125px; */
    height: 7.8125rem;
}

.menu {
    text-align: left;
    margin-right: 50px;
}

.menu span {
    display: block; 
    width: 33px;
    height: 4px;
    margin-bottom: 5px; 
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1; 
  }

.logo {
    flex: 1;
    text-align: left;
}

.logo img {
    /* height: 95px; */
    height: 5.8125rem;
}

.user {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    position: relative;
    left: 0rem;
}

.user span {
    margin-right: 10px;
    /* font-size: 25px; */
    font-size: 1.875rem;
    padding-right: 20px;
}

.user-circle {
    /* width: 60px;
    height: 60px; */
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;  
}



.contenidoPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem; /* preguntarle a Sofi*/
    margin: 7.1rem 0rem;
}

.elementosCentrados{
    display: flex;
    width: 77.5rem;
    padding: 0rem; /* preguntarle a Sofi*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    border-radius: 1.25rem;
    background: #FFFFFF;
}

.tituloSeccion{
    align-self: stretch;
    color: var(--UR---Rojo);
    text-align: center;

    /* TipografiaTitulos */
    font-family: "Cabin", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formImagen input{
    /* CORREGIR ESTO */
    width: 21.875rem;
    height: 21.875rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.formImagen label{
    color: var(--UR---Rojo);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
}

.prueba{
    display: flex;
    width: 1240px;
    padding: 0px 0px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pruebados{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
}

.button{
    display: flex;
    height: 3.25rem;
    width: 10rem;
    padding: 0.1875rem 1.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: none;

    color: #FFF;
    /* leading-trim: both; */
    /* text-edge: cap; */
    font-family: "League Spartan", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
