.formImagen{
    display: flex;
    width: 21.875rem;
    height: 21.875rem;
    padding: 0.9375rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    background: url(../img/natacion.jpg) 50% / cover no-repeat;
    border-radius: 1.25rem;
}

.formContent{
    align-items: center;
}