* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header {
    background-color: #D90921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    /* height: 125px; */
    height: 7.8125rem;
}

.menu {
    text-align: left;
    margin-right: 50px;
}

.menu span {
    display: block; 
    width: 33px;
    height: 4px;
    margin-bottom: 5px; 
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1; 
  }

.logo {
    flex: 1;
    text-align: left;
}

.logo img {
    /* height: 95px; */
    height: 5.8125rem;
}

.user {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    position: absolute;
    right: 3rem;
    display: none;

}

.user span {
    margin-right: 10px;
    /* font-size: 25px; */
    font-size: 1.875rem;
    padding-right: 20px;
}

.user-circle {
    /* width: 60px;
    height: 60px; */
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;  
}
.container {
    display: flex;
    justify-content: center; 
    height: 100vh;
    position: relative;
    top: 164px;
}

.login {
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-left: 20px;
    width: 772px;
    height: 980px;
    display: flex; /* Make .login a flex container */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */

}

.login img {
    align-self: center;
    height: 300px;

}

.login form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .form-group {
    width: 100%;
    margin-bottom: 15px;

}

.login label {
    display: block;
    margin-bottom: 5px;
    color: black; /* Change label color to black for better readability */
}

.login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login button {

    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #D90921;
    color: white;
    cursor: pointer;
}

.login a{
    color:#D90921;
    text-decoration: none;
}

.login button:hover {
    background-color: #0056b3;
}