@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --UR---Rojo: #d90921;
    --UR---Azul: #3100A0;
}

html {
    font-size: 60%;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mainContainer{ /*.contenidoPrincipal en el otro archivo*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 0rem;
    margin: 7.1rem 0rem;
}

.centeringContainer{ /*.elementosCentrados en el otro archivo*/
    display: flex;
    width: 77.5rem;
    padding: 3.125rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    border-radius: 1.25rem;
    background: #F2F2F2;
}

.contenidoPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem; /* preguntarle a Sofi*/
    margin: 7.1rem 0rem;
}

.elementosCentrados{
    display: flex;
    width: 77.5rem;
    padding: 0rem; /* preguntarle a Sofi*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    border-radius: 1.25rem;
    background: #FFFFFF;
}

.tituloSeccion{
    align-self: stretch;
    color: var(--UR---Rojo);
    text-align: center;

    /* TipografiaTitulos */
    font-family: "Cabin", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formContent{
    display: flex;
    padding: 1.5rem 1.875rem 1.5rem 3.75rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.formImagen{
    display: flex;
    width: 21.875rem;
    padding: 0.9375rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    border-radius: 1.25rem;
}

#formImagenLleno{
    background: url(../img/natacion.jpg) 50% / cover no-repeat;
    height: 21.875rem;
    /*La línea anterior tiene que ser con base de datos!*/
}

.formImagen input{
    /* CORREGIR ESTO */
    width: 21.875rem;
    height: 21.875rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.formImagen label{
    color: var(--UR---Rojo);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formCampos{
    display: flex;
    width: 40.375rem;
    padding: 0.9375rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
}

.formText{
    height: 6.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.0005rem;
}

.formText label{
    width: 36.5625rem;
    color: #000;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formText input, select{
    width: 36.5625rem;
    height: 3.75rem;
    flex-shrink: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formContent{
    align-items: center;
}

.square{
    width: 21.875rem;
    height: 21.875rem;
    background-color: #B9B9B9;
    /*Toca agregar para que cambie de color a la imagen que se sube*/
    border-radius: 1.5rem;
}

#customUploadText {
    cursor: pointer;
    color: var(--UR---Rojo);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.prueba{ /*Para organizar los cards*/
    display: flex;
    width: 1240px;
    padding: 0px 0px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}