@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=League+Spartan:wght@100..900&display=swap');

html {
    font-size: 60%;
  }

:root{
    --UR---Rojo: #d90921;
    --UR---Azul: #3100A0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- INICIO CÓDIGO HEADER CAMILO ---------- */
body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* width: 1440px;
    height: 1465px; */
}

header {
    background-color: #D90921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    /* height: 125px; */
    height: 7.8125rem;
}

.menu {
    text-align: left;
    margin-right: 50px;
}

.menu span {
    display: block; 
    width: 33px;
    height: 4px;
    margin-bottom: 5px; 
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1; 
  }

.logo {
    flex: 1;
    text-align: left;
}

.logo img {
    /* height: 95px; */
    height: 5.8125rem;
}

.user {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    position: relative;
    left: 0rem;
}

.user span {
    margin-right: 10px;
    /* font-size: 25px; */
    font-size: 1.875rem;
    padding-right: 20px;
}

.user-circle {
    /* width: 60px;
    height: 60px; */
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;  
}

/* ---------- FIN CÓDIGO HEADER CAMILO ---------- */

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 0rem;
    margin: 7.1rem 0rem;
}

.centeringContainer{
    display: flex;
    width: 77.5rem;
    padding: 3.125rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    border-radius: 1.25rem;
    background: #F2F2F2;
}

.tituloSeccion{
    align-self: stretch;
    color: var(--UR---Rojo);
    text-align: center;

    /* TipografiaTitulos */
    font-family: "Cabin", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.formContent{
    display: flex;
    padding: 1.5rem 1.875rem 1.5rem 3.75rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.formImagen{
    display: flex;
    width: 21.875rem;
    padding: 0.9375rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.formImagen input{
    /* CORREGIR ESTO */
    width: 21.875rem;
    height: 21.875rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.square{
    width: 21.875rem;
    height: 21.875rem;
    background-color: #B9B9B9;
    border-radius: 1.5rem;
}

.formImagen {
    display: flex;
    align-items: center;
    gap: 1rem; /* Add some space between elements */
}

#customUploadText {
    cursor: pointer;
    color: var(--UR---Rojo);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formCampos{
    display: flex;
    width: 40.375rem;
    padding: 0.9375rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
}

.formText{
    height: 6.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.0005rem;
}

.formText label{
    width: 36.5625rem;
    color: #000;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formText input, select{
    width: 36.5625rem;
    height: 3.75rem;
    flex-shrink: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-family: "League Spartan";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}