<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
</head>
<body>

    <header>
        <nav>
            <a href="../index.html">Volver al inicio</a>
        </nav>
    </header>

    <h1 align="center"> La Hamburguesería</h1>

    <center>
        <img src="../images/entry.jpg" alt="Deliciosa Hamburguesa artesanal" width="600" height="400">
    </center>


    <br>
    <h2 align="center"> Nuestra historia </h2>
    <p>Bienvenidos a La hamburguesería! Aquí podrás disfrutar de las más deliciosas hamburguesas, preparadas con carne de la mejor calidad. Nuestro delicioso pan insignia es hecho en casa todos los días. Ingredientes siempre frescos! </p>

    <h2 align="center"> Cocteles </h2>

    <center>
        <img src="../images/coctails.jpg" alt="Deliciosa Hamburguesa artesanal" width="600" height="400">
    </center> 
    <p> Ven a disfrutar de nuestros deliciosos cocteles! </p>
    <p> Nuestros cocteles son preparados con frutas frescas y licores de la mejor calidad. </p>

</body>
</html>