<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stop Urosario</h1>
    <br>
    <table align="center" border="1">
        <tr>
            <td>Letra</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Cuidad</td>
            <td>Animal</td>
            <td>Fruta</td>
            <td>Color</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>B</td>
            <td><u>Brayan</u></td>
            <td><ul>
                <li>Bonilla</li>
                <li>Buitrago</li>
                <li>Buquele</li>
            </td>
            <td><em>Barranquilla</em></td>

            <td><img src="https://t2.ea.ltmcdn.com/es/posts/9/8/2/bisonte_americano_bison_bison_26289_0_600.webp"></td>
            <td><strong>Banana</strong></td>
            <td style="color:beige">Beige</td>
            <td>Cosa</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>B</td>
            <td><strong>Anuel</strong></td>
            <td><u>Alcazar</u>
            </td>
            <td>
                <ol>
                    <li>Amsterdam</li>
                    <li>A</li>
                    <li>A</li>
                </ol>
            </td>

            <td><a></a>A</td>
            <td><strong></strong></td>
            <td style="color:aqua">Aguamarina</td>
            <td>Total</td>
        </tr>
        <tr>
            <td><em>Mykol</em></td>
            <td><h1>Montero</h1></td>
            <td>
            </td>
            <td>
                <strong>Medellin</strong>
            </td>

            <td><a></a>A</td>
            <td><strong></strong></td>
            <td style="color:aqua">Aguamarina</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>N</td>
            <td><sup>Nancy</sup></td>
            <td><strong>Nuñez</strong></td>
            <td>N</td>
            <td>Nutria</td>

            <td>N</td>
            <td><strong></strong></td>
            <td >Navy</td>
            <td>Total</td>
        </tr>
    </table>
</body>
</html>