<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/botones.css">
    <link rel="stylesheet" href="/css/cards.css">
    <title>UR Deporte y Cultura | Consultar Actividades </title>
</head>
<body>
    <header>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="/img/logoHorizontalBlanco.png">
        </div>

        <div class="user">
            <span>Usuario 123</span>
            <div class="user-circle"></div>
        </div>
    </header>