<header>
    <div class="menu" id="menuCerrado">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo">
        <img src="../../assets/img/logo.png">
    </div>

    <div class="user">
        <span>Usuario 123</span>
        <div class="user-circle"></div>
    </div>
</header>