<div class="sombra" id="sombra"></div>
<nav class="sidebar" id="sidebar">
    <div class="logo-menu">
        <div class="menu" id="menuAbierto">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="../../assets/img/logoHorizontalBlanco.png" alt="Logo Universidad del Rosario">
        </div>
    </div> 
    <ul class="menu-items">
        <li class="mainoption" id="usuarios"><a href="#">Usuarios</a> <div class="play-button" id="play1"></div></li>
        <div class="option" id="crearUsuarios"><li><a href="#">Crear Usuarios</a></li></div>
        <div class="option" id="verUsuarios"><li><a href="#">Ver Usuarios</a></li></div>
        <div class="option" id="editarUsuarios"><li><a href="#">Editar Usuarios</a></li></div>
        <div class="option" id="inhabilitarUsuarios"><li><a href="#">Inhabilitar Usuarios</a></li></div>
        <li class="mainoption" id="grupos"><a href="#">Grupos Institucionales</a> <div class="play-button" id="play2"></div></li>
        <div class="option" id="crearGrupos"><li><a href="#">Crear Grupos</a></li></div>
        <div class="option" id="verGrupos"><li><a href="#">Ver Grupos</a></li></div>
        <div class="option" id="editarGrupos"><li><a href="#">Editar Grupos</a></li></div>
        <div class="option" id="inhabilitarGrupos"><li><a href="#">Inhabilitar Grupos</a></li></div>
        <li class="mainoption" id="actividades"><a href="#">Actividades</a> <div class="play-button" id="play3"></div></li>
        <div class="option" id="crearActividades"><li><a href="#">Crear Actividades</a></li></div>
        <div class="option" id="verActividades"><li><a href="#">Ver Actividades</a></li></div>
        <div class="option" id="editarActividades"><li><a href="#">Editar Actividades</a></li></div>
        <div class="option" id="inhabilitarActividades"><li><a href="#">Inhabilitar Actividades</a></li></div>
    </ul>        
</nav>

<script src="../../assets/js/menuNavegacion.js"></script>