<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/mainStyles.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/botones.css">
    <link rel="stylesheet" href="../../assets/css/cards.css">
    <title>UR Deporte y Cultura | Consultar Actividades </title>
</head>
<body>
    <header>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="../../assets/img/logoHorizontalBlanco.png">
        </div>

        <div class="user">
            <span>Usuario 123</span>
            <div class="user-circle"></div>
        </div>
    </header>

    <div class="contenidoPrincipal">
        <div class="elementosCentrados">
            <h1 class="tituloSeccion">Consultar Actividades</h1>
            <div class="cardContainer">
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Torneo nacional</h3>
                        <p>Ultimate</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Fase Final Cerros</h3>
                        <p>Rugby Femenino</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Nacional ASCUN</h3>
                        <p>Natación</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Torneo nacional</h3>
                        <p>Ultimate</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Fase Final Cerros</h3>
                        <p>Rugby Femenino</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Nacional ASCUN</h3>
                        <p>Natación</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Torneo nacional</h3>
                        <p>Ultimate</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Fase Final Cerros</h3>
                        <p>Rugby Femenino</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cardImage"></div>
                    <div class="cardContent">
                        <h3>Nacional ASCUN</h3>
                        <p>Natación</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
