<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/botones.css">
    <link rel="stylesheet" href="../../assets/css/crearActividad.css">
    <link rel="stylesheet" href="../../assets/css/consultarActividadParticular.css">
    <title>UR Deporte y Cultura | Consultar Actividad</title>
</head>
<body>
    <header>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="../../assets/img/logo.png">
        </div>

        <div class="user">
            <span>Usuario 123</span>
            <div class="user-circle"></div>
        </div>
    </header>

     <div class="mainContainer">
        <div class="centeringContainer">
            <h1 class="tituloSeccion">Torneo Nacional ASCUN - Natación</h1>
            <form action="">
                <div class="formContent">
                    <div class="formImagen"></div>
                    <div class="formCampos">
                        <div class="formText" id="formFecha">
                            <label for="fechaActividad">Fecha de la actividad</label><br>
                            <input type="date" id="fechaActividad" value="2024-09-19" readonly>
                        </div>
                        <div class="formText" id="formLugar">
                            <label for="lugarActividad">Lugar de la actividad</label><br>
                            <input type="text" id="lugarActividad" value="Complejo acuático de Pereira" readonly>
                        </div>
                        <div class="formText">
                            <label for="resultadoActividad">Resultado de la actividad</label><br>
                            <input type="text" id="resultadoActividad"  value="No establecido" readonly>
                        </div>
                    </div>
                </div>
                <div class="formButtonsContainer">
                    <div class="Button" id="botonAzul">
                        <a href="">
                            <p>Editar</p>
                        </a>
                    </div>
                    <div class="Button" id="botonRojo">
                        <a href="">
                            <p>Inhabilitar</p>
                        </a>
                    </div>
                </div>
            </form>
     
        </div>
    </div>
</body>
</html>