<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/botones.css">
    <title>UR Deporte y Cultura | Crear Actividad</title>
</head>
<body>
    <header>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="/img/logo.png">
        </div>

        <div class="user">
            <span>Usuario 123</span>
            <div class="user-circle"></div>
        </div>
    </header>

     <div class="mainContainer">
        <div class="centeringContainer">
            <h1 class="tituloSeccion">Crear nueva actividad</h1>
            <form action="/actividades/crear" method="post">
                <div class="formContent">
                    <div class="formImagen">
                        <div class="square"></div>
                        <input type="file" id="imagenActividad" style="display: none;">
                        <label for="imagenActividad" id="customUploadText">
                            <p>Elegir imagen</p>
                        </label>
                    </div>
                    <div class="formCampos">
                        <div class="formText">
                            <label for="nombreActividad">Nombre de la actividad</label><br>
                            <input type="text" id="nombreActividad" name="nombre" required placeholder="Nombre de la actividad">
                        </div>
                        <div class="formText" id="formTextDesplegable">
                            <label for="grupoActividad">Grupo que participa</label><br>
                            <select id="grupoActividad" name="grupo" required>
                                <option selected value="0">Grupo que participa</option>
                                <option value="Natación">Natación</option>
                                <option value="Ultimate">Ultimate</option>
                                <option value="Rugby">Rugby</option>
                            </select>
                        </div>
                        <div class="formText" id="formFecha">
                            <label for="fechaActividad">Fecha de la actividad</label><br>
                            <input type="date" id="fechaActividad" name="fecha" required placeholder="Fecha de la actividad">
                        </div>
                        <div class="formText" id="formLugar">
                            <label for="lugarActividad">Lugar de la actividad</label><br>
                            <input type="text" id="lugarActividad" name="ubicacion" placeholder="Lugar de la actividad">
                        </div>
                        <div class="formText">
                            <label for="resultadoActividad">Resultado de la actividad</label><br>
                            <input type="text" id="resultadoActividad" name="resultado" placeholder="Resultado de la actividad">
                        </div>
                    </div>
                </div>
                <div class="formButtonsContainer">
                    <input type="submit" class="formButton" id="formButtonAzul" value="Guardar">
                    <input type="reset" class="formButton" id="formButtonRojo" value="Cancelar">
                </div>
            </form>
     
        </div>
    </div>
</body>
</html>