*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*Utilizar siempre*/

body{
    font-family: Arial, Helvetica, sans-serif; /* Tipo de fuente */
    text-align: left; /* Alineación del texto */
    background-image: url(../img/rollocanela.jpg); /* Imagen de fondo */
    background-size: cover; /* Tamaño de la imagen, para que cubra toda la pantalla */
    background-repeat: no-repeat; /* Para que la imagen de fondo no se repita */
    color: brown; /* Color del texto */
}

h1{
    font-weight: bolder;
    font-style: italic;
    font-size: 3em;
}

ul{
    list-style-image: url(../img/flor.png);
    list-style-position: inside;
}

table{
    width: 50%;
    padding: 0;
    border: 4px solid black;
}

td{
    padding: 15px;
}