<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilosAvanzados.css">
    <title>Document</title>
</head>
<body>
    <div class="titulo">
        <img src="../assets/img/rollocanela.jpg">
        <h1>Título principal</h1>
    </div>
    
    <!-- <div class="cajita" id="1"></div> -->
    

    <div class="contenido">
        <div class="postre">
            <img src="../assets/img/comida1.jpg" alt="">
            <h1>Título</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis dolorum numquam facere ab similique eligendi, delectus, veniam repellendus, perferendis et nostrum pariatur impedit assumenda totam? Ducimus et vero eaque ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ullam quisquam ut consequuntur corporis accusantium, perspiciatis, qui, porro dolore magnam minus recusandae tempore rem laboriosam. Impedit rem explicabo veniam eaque!</p>
        </div>
    </div>

    <div class="button">
        <a href="">Botón</a>
    </div>
</body>
</html>