<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fabulas</title>
        <meta name="description" content="">
    </head>
    <body>
        <h1 align="center"><strong>Fábulas</strong></h1>
        <ul>
            <li><a href="ejercicio.html">La lechera y el cántaro</a></li>
            <li><a href="fabula2.html">Tabla de fábulas</a></li>
            <li><a href="stop.html">Stop</a></li>
            <li><a href="formulario.html">Formulario</a></li>
        </ul>
    </body>
</html>