<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos de fábulas</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <h1>Tabla con ejemplos de fábulas</h1>
    <br>
    <br>
    <table align="center" border="1" cellpadding="10" cellspacing="0">
        <tr>
            <td align="center"><strong>Mi pobre viejecita</strong></td>
        </tr>
        <tr>
            <td align="center"><img src="../assets/img/viejecita.jpg" alt="Fábula mi pobre viejecita"></td>
        </tr>
        <tr>
            <td align="center"><strong>El gato con botas</strong></td>
        </tr>
        <tr>
            <td align="center"><img src="../assets/img/gatobotas.png" alt="El gato con botas"></td>
        </tr>
    </table>
    <br>
    <br>
    <table align="center" border="1" cellpadding="10" cellspacing="0">
        <tr><td align="center" colspan="2" bgcolor="ff625a"><strong>Fábulas</strong></td></tr>
        <tr bgcolor="ff875a">
            <td align="center"><strong>Título</strong></td>
            <td align="center"><strong>Imagen</strong></td>
        </tr>
        <tr>
            <td align="center" rowspan="2"><strong>Mi pobre viejecita</strong></td>  
            <td align="center"><img src="../assets/img/viejecita.jpg" alt="Fábula mi pobre viejecita"></td>
        </tr>
        <tr>
            <td align="center"><img src="../assets/img/pobreviejecita1.png" alt=""></td>
        </tr>
        <tr>
            <td align="center"><strong>El gato con botas</strong></td>
            <td align="center"><img src="../assets/img/gatobotas.png" alt="El gato con botas"></td>
        </tr>
        <caption><em>Fábulas</em></caption>
    </table>

    <a href="fabulas.html">Volver al inicio</a>
</body>
</html>