<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Comida">
    <title>Comida</title>
</head>
<body>
    <h1>Título 1</h1>
    <h2>Título 2</h2>
    <h3>Título 3</h3>
    <h4>Título 4</h4>
    <h5>Título 5</h5>
    <h6>Título 6</h6>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla perspiciatis numquam blanditiis ipsa aut tempore ex vero et dicta earum voluptas id, ab, odio, fugit ducimus nesciunt ut inventore optio. ACÁ VA A HABER UN SALTO DE LÍNEA CON UNA ETIQUETA BR. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquam iste accusamus ipsum sed, esse quibusdam quis ab voluptatibus eaque atque, dolores, accusantium vero incidunt rerum sequi eveniet commodi amet? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab quisquam molestiae ut eum officiis enim minus natus exercitationem. Libero natus accusantium illo tenetur dicta iste amet. Quas explicabo cumque ad.</p>
    <h2>Estilos rápidos</h2>
    <p><strong>Negrilla</strong> <br> <em>Cursiva</em> <br> <u>Subrayado</u> <br> <strong><u><em>Todos juntos</em></u> <br></strong></p>
    <h3>Ejemplo</h3>
    <p>La <em>fórmula</em> del <strong>agua</strong> es H<sub>2</sub>O</p>
    <p> Un <u>número</u> elevado al cuadrado es X<sup>2</sup></p>

    <h2>Imágenes</h2>
    <img src="../assets/img/comida1.jpg" alt="Postres" title="Postres">
    <br>
    <img src="../assets/img/comida2.jpg" alt="Fresas">

    <h2>Listas</h2>

    <h3>Ordenadas</h3>
    <ol type="1">
        <li>Lista</li>
        <li>Con</li>
        <li>Números</li>
    </ol>

    <ol type="i">
        <li>Lista</li>
        <li>Con números</li>
        <li>Romanos en minúscula</li>
    </ol>

    <ol type="I">
        <li>Lista</li>
        <li>Con números</li>
        <li>Romanos en mayúscula</li>
    </ol>
    
    <ol type="A">
        <li>Lista</li>
        <li>Ordenada</li>
        <li>Alfabética en mayúscula</li>
    </ol>

    <ol type="a">
        <li>Lista</li>
        <li>Ordenada</li>
        <li>Alfabética en minúscula</li>
    </ol>

    
    
    <h3>Desordenadas</h3>
    <ul type="square">
        <li>Lista</li>
        <li>Con</li>
        <li>Cuadrados</li>
    </ul>

    <ul type="circle">
        <li>Lista</li>
        <li>Con</li>
        <li>Círculos</li>
    </ul>

    <ul type="disc">
        <li>Lista</li>
        <li>Con</li>
        <li>Discos</li>
    </ul>

    <h2>Enlaces</h2>
    <a href="https://www.google.com">Ir a Google (reemplaza la página actual y redirige a esto)</a>
    <br>
    <a href="https://www.google.com" target="_blank">Ir a Google (abre una nueva pestaña)</a>
    <br>
    <a href="https://www.google.com" target="_blank"><img src="../assets/img/comida2.jpg"></a>
    
</body>
</html>