<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Receta para rollo de canela</title>
        <meta name="description" content="Receta para preparar rollo de canela">
    </head>
    <body>
        <h1 align="center">Receta para rollos de Canela</h1>
        <img src="../assets/img/rollocanela.jpg" alt="rollo de canela" width="500" align="center">
        <h3>Ingredientes</h3>
        <p><em>Para la masa:</em></p>
        <ul type="circle">
            <li>450 gr harina sin polvos de hornear</li>
            <li>2 ¼ cdta levadura seca (12 grs aprox)</li>    
            <li>2 cdas agua tibia</li> 
            <li>250 ml leche tibia</li>
            <li>100 gr azúcar blanca</li>
            <li>1 huevo</li>
            <li>Opcional: 1/2 cdta Esencia de Vainilla Gourmet</li>
            <li>¼ cdta sal</li>
            <li>85 gr de mantequilla sin sal</li>
        </ul>
        <p><em>Para el relleno</em></p>
        <ul type="circle">
            <li>70 gr de mantequilla</li>
            <li>180 gr de azúcar morena</li>
            <li>3 cdas de canela en polvo</li>
        </ul>
        <p><em>Para el glaseado</em></p>
        <ul type="circle">
            <li>1 sobre de Base para Glaseado Vainilla Gourmet</li>
            <li>1 cda de agua</li>
        </ul>

        <h3>Preparación</h3>
        <ol>
            <li>En un bowl poner la levadura, la leche tibia, agua tibia y mezclar. Luego, agregar el azúcar y mezclar bien. Agregar el huevo batido (con tenedor) y mezclar hasta integrar. Opcional: agregar 1/2 cdta de Esencia de Vainilla Gourmet.</li>
            <li>Agregar la mitad de la harina y mezclar con movimientos envolventes. Luego, agregar la mantequilla derretida y finalmente, la otra mitad de la harina y mezclar bien hasta formar una masa pegajosa pero que se puede despegar del bowl. Dejar reposar tapado por 1 ½ hora, hasta que doble su volumen.</li>
            <li>Poner la masa en una superficie plana y hacer un rectángulo con uslero.</li>
            <li>Para el relleno, derretir la mantequilla y agregar azúcar morena y Canela Molida Gourmet. Pincelear la masa con el relleno por toda la superficie. Después, enrollar la masa por el lado más largo y cortarlo en rollos de 1 ½ a 2 cm. aprox.</li>
            <li>Poner los rollos en una lata de horno o fuente enmantequillada dejando espacio entre cada uno. Dejar reposar por al menos 20 minutos o hasta que dupliquen su tamaño.</li>
            <li>Llevar a horno precalentado por 20 minutos a 180°C.</li>
            <li>Para el glaseado, mezclar todos los ingredientes y poner sobre los rollos calientes.</li>
        </ol>

        <p align="center"> Presiona <a href="https://www.google.com" target="_blank">aquí</a> para acceder al video de la receta</p>
        
        
    </body>
</html>