<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stop</title>
</head>
<body>
    <h1>Stop URosario</h1>
    <table border="1" bordercolor="920f06" align="center">
        <caption><strong>Stop URosario</strong></caption>
        <center><img src="../assets/img/urosario.png" alt="urosario"></center>
        <tr>
            <td>Letra</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Ciudad</td>
            <td>Animal</td>
            <td>Fruta</td>
            <td>Color</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>A</td>
            <td>Ana</td>
            <td>Aparicio</td>
            <td style="color: blue">Azul</td>
            <td><img src="../assets/img/armadillo.jfif" alt="armadillo"></td>
            <td>Anon</td>
            <td>Anillo</td>
            <td></td>
        </tr>
        <tr>
            <td>B</td>
            <td><u>Blanca</u></td>
            <td><ul>
                <li>Bermudez</li>
                <li>Blanco</li>
                <li>Barco</li>
            </ul></td>
            <td><em>Bogotá</em></td>
            <td><img src="../assets/img/burro.jfif" alt="burro"></td>
            <td><strong>Banano</strong></td>
            <td style="color: white">Blanco</td>
            <td>600</td>
        </tr>
        <tr>
            <td>A</td>
            <td><strong>Ana</strong></td>
            <td><u>Arias</u></td>
            <td><ol>
                <li>Armenia</li>
                <li>Atenas</li>
                <li>Amsterdam</li>
            </ol></td>
            <td><img src="../assets/img/armadillo.jfif" alt=""></td>
            <td><a href="https://es.wikipedia.org/wiki/Ar%C3%A1ndano_rojo">Arándano</a></td>
            <td bgcolor="yellow"></td>
            <td>600</td>
        </tr>
        <tr>
            <td>M</td>
            <td><em>Mariana</em></td>
            <td><h1>Martinez</h1></td>
            <td><strong>Machu pichu</strong></td>
            <td><ol>
                <li>Manati</li>
                <li>Mantaraya</li>
                <li>Mono</li>
            </ol></td>
            <td><img src="../assets/img/mango.jfif" alt=""></td>
            <td bgcolor="purple"></td>
            <td>600</td>
        </tr>
        <tr>
            <td>N</td>
            <td><sup>Natalia</sup></td>
            <td><strong>Nuñez</strong></td>
            <td><a href="https://es.wikipedia.org/wiki/Notre_Dame">Nontre Dam</a></td>
            <td><img src="../assets/img/nutria.jfif" alt=""></td>
            <td><img src="../assets/img/naranja.jfif" alt=""></td>
            <td bgcolor="orange"></td>
            <td>600</td>
        </tr>
    </table>
</body>
</html>