<%- include('components/header.ejs') -%>
<%- include('components/menuNavegacion.ejs') -%>

    <div class="button" id="botonAzul">
        <a href="/actividades">
            <p>Actividades</p>
        </a>
    </div>    

    <div class="button" id="botonAzul">
        <a href="/grupos">
            <p>Grupos</p>
        </a>
    </div>  
<%- include('components/footer.ejs') -%>