<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/botones.css">
    <link rel="stylesheet" href="../../assets/css/crearActividad.css">
    <title>UR Deporte y Cultura | Modificar Usuario</title>
</head>
<body>
    <header>
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <img src="../../assets/img/logo.png">
        </div>

        <div class="user">
            <span>Usuario 123</span>
            <div class="user-circle"></div>
        </div>
    </header>

     <div class="mainContainer">
        <div class="centeringContainer">
            <h1 class="tituloSeccion">Modificar Usuario</h1>
            <form action="">
                <div class="formContent">
                    <div class="formImagen">
                        <input type="file" id="imagenActividad">
                        <div class="button" id="botonBlanco">
                            <a href="">
                                <p>Subir imagen</p>
                            </a>
                        </div>
                    </div>
                    <div class="formCampos">
                        <div class="formText">
                            <label for="nombreUsuario">Nombre</label><br>
                            <input type="text" id="nombreUsuario" required placeholder="Nombre">
                        </div>
                        <div class="formText">
                            <label for="apellidoUsuario">Apellido</label><br>
                            <input type="text" id="apellidoUsuario" required placeholder="Apellido">
                        </div>
                        <div class="formText">
                            <label for="apellidoUsuario">Correo Institucional</label><br>
                            <input type="text" id="apellidoUsuario" required placeholder="usuario@urosario.edu.co">
                        </div>
          
      
                        <div class="formText">
                            <label for="identidad">Id</label><br>
                            <input type="text" id="identidad"  placeholder="Id">
                        </div>
                    </div>
                </div>
                <div class="formButtonsContainer">
                    <input type="submit" class="formButton" id="formButtonAzul" value="Guardar">
                    <input type="reset" class="formButton" id="formButtonRojo" value="Inhabilitar">
                </div>
            </form>
     
        </div>
    </div>
</body>
</html>